In [1]:
import duckdb
import pandas as pd

# 1. 加载 Excel 文件
excel_path = "Research Data sent.xlsx"  # 👈 确保文件名正确
df = pd.read_excel(excel_path, sheet_name="Consolidated")

# 2. 清理列名（避免空格或括号影响 SQL 查询）
df.columns = [c.strip().replace(' ', '_').replace('(', '').replace(')', '') for c in df.columns]

# 3. 创建 DuckDB 文件（生成 suburb_data.duckdb）
con = duckdb.connect("suburb_data.duckdb")

# 4. 将 DataFrame 写入数据库
con.register("temp_df", df)
con.execute("CREATE OR REPLACE TABLE suburbs AS SELECT * FROM temp_df")

print("✅ 成功创建 suburb_data.duckdb 并写入 suburbs 表")

✅ 成功创建 suburb_data.duckdb 并写入 suburbs 表

:

In [2]:
# 查 top 5 房价最高的 suburb
con.execute("""
SELECT Suburb_Name, Smart_Median_House_Price
FROM suburbs
ORDER BY Smart_Median_House_Price DESC
LIMIT 5
""").fetchdf()

     Suburb_Name  Smart_Median_House_Price
0       Vaucluse                   7410000
1    Point Piper                   6820000
2    Watsons Bay                   6420000
3  Bellevue Hill                   6350000
4       Tamarama                   5600000

: